# Core API framework
requests
beautifulsoup4
feedparser
schedule
fastapi
uvicorn
pymongo
apscheduler
python-dotenv
python-dateutil

# Message broker
confluent_kafka

# External APIs
openai

# Datadog tracing
ddtrace