# Core API framework
fastapi
uvicorn
python-dotenv

# Web scraping and parsing  
requests
beautifulsoup4
feedparser

# Database
pymongo
python-dateutil

# Scheduling
apscheduler

# Message broker
confluent_kafka

# Datadog tracing
ddtrace